@keyframes colorCycle{
    0%, 55%{
        filter: brightness(0) invert(1);
    }
    11%, 33%{
        filter: none;
    }
}

main{
    max-width: 1048px;
    padding: 56px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 128px;
        line-height: 100%;
        letter-spacing: 12.4px;
        color: $white;

        span{
            padding: 0 6.7px;
            filter: brightness(0) invert(1);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: colorCycle 10s ease-in-out infinite;
        }

        span:nth-child(1){
            background-image: linear-gradient(90deg, #007cf0, #00dfd8);
        }

        span:nth-child(2){
            background-image: linear-gradient(90deg, #7928ca, #ff0080);
            animation-delay: 3.33s;
        }

        span:nth-child(3){
            background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
            animation-delay: 6.66s;
        }


    }

    .buttons{
        margin-top: 64px;
        display: flex;
        align-items: center;

        button{
            background-color: $white;
            color: black;
            border-radius: 4px;
            margin: 12px;
            padding: 15px 45px;
            border: 1px solid white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s ease-in;

            &.outlined{
                background-color: transparent;
                color: $gray;
                border: 1px solid $gray;
            }

            &:hover{
                background-color: transparent;
                color: white;
                border: 1px solid $gray;
            }

        }

    }

    h2{
        margin: 64px 0px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.04rem;
        text-align: center;
    }

}